build/
.cache/
esp-idf*

managed_components/

sdkconfig
sdkconfig.old

.vscode/
.idea/
.env
.venv
__pycache__/

grafana-data/
influxdb2-config/
influxdb2-data/
mosquitto/

config.json
dependencies.lock